doctype html
html(lang="en")
  head
    title Welcome Page
  body
    header
      h1 Welcome Page

    if name
      h2 Welcome, #{name}!
      form(action='/goodbye', method='post')
        button(type="submit") Clear the username 