doctype html
html(lang="en")
    head
        title Welcome Page
    body
        header
            h1 Welcome Page
        main
        form(action=`/trackName`, method='post')
            label Please enter your name:
            input(type="text", name="name")
            button(type="submit") Submit