/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
html{
    padding: 0 24px;
    margin: 0px;
}
body, html {
    color: var(--devsite-primary-text-color);
    font: 400 16px/24px var(--devsite-primary-font-family);
    /* -webkit-font-smoothing: antialiased; */
    text-size-adjust: 100%;
    font-family: sans-serif;
    margin:0;
}

ul li{
    list-style-type:none;
}
/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Layout Containers ---- */
/*頁面寬度若<769px, 執行此段*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
/* ---- Navigation ---- */
.button-flat, .button-flat:active, .button-flat:focus, .button-flat:hover {
    background: 0;
    border: 0;
    box-shadow: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    line-height: 1;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* color: blue; */
    /* font-size: 48px !important;*/ /* 改變icons大小要加"!important" */
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.devsite-site-logo {
    height: var(--devsite-logo-height,32px);
}

.hide-from-toc{
    font-size: 32px;
}
.hide-from-toc > a{
    text-decoration:none;
    color: #1a73e8;
}

.devsite-landing-row-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.devsite-landing-row-item-body{
    display: flex;
    flex-direction: column;
    flex: 1;
    /* text-align: left; */
    /* justify-content: space-between; */
}
.devsite-landing-row-item-media{
    display: flex;
    flex: 1;   
    /* text-align: left; */
    /* justify-content: space-between; */
}
.description-item{
    display:flex;
    flex-grow: 1;
    flex-basis: 0;
}
.devsite-landing-row-item-buttons .button {
    margin: 34px 4px 4px 12px;
    padding: 0px 24px;
}
.button-blue, .button-blue:active, .button-blue:focus, .button-blue:hover, .button-green, .button-green:active, .button-green:focus, .button-green:hover, .button-primary, .button-primary:active, .button-primary:focus, .button-primary:hover, .button-red, .button-red:active, .button-red:focus, .button-red:hover, body devsite-footer-utility .devsite-footer-utility-button>a, body devsite-footer-utility .devsite-footer-utility-button>a:active, body devsite-footer-utility .devsite-footer-utility-button>a:focus, body devsite-footer-utility .devsite-footer-utility-button>a:hover {
    border: 0;
}
.button-blue, .button-green, .button-primary, .button-red, body devsite-footer-utility .devsite-footer-utility-button>a {
    background: var(--devsite-button-primary-background,var(--devsite-button-color));
    color: var(--devsite-button-primary-color,var(--devsite-inverted-text-color));
    line-height: var(--devsite-button-primary-line-height,36px);
}
.button, .devsite-footer-utility-button>a, button, input[type=button], input[type=file], input[type=image], input[type=reset], input[type=submit] {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: var(--devsite-button-background,var(--devsite-background-1));
    border: var(--devsite-button-border,0);
    border-radius: var(--devsite-button-border-radius,2px);
    box-shadow: var(--devsite-button-box-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--devsite-button-color);
    cursor: pointer;
    display: inline-block;
    font: var(--devsite-button-font,500 14px/36px var(--devsite-primary-font-family));
    line-height: var(--devsite-button-line-height,36px);
    height: var(--devsite-button-height,36px);
    letter-spacing: var(--devsite-button-letter-spacing,0);
    line-height: var(--devsite-button-line-height,36px);
    margin: 0;
    max-width: var(--devsite-button-max-width,none);
    min-width: 36px;
    outline: 0;
    overflow: hidden;
    padding: var(--devsite-button-padding,0 16px);
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: var(--devsite-button-text-transform,capitalize);
    -webkit-transition: background-color .2s,border .2s,box-shadow .2s;
    transition: background-color .2s,border .2s,box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
    width: var(--devsite-button-width,auto); 
}
.button-primary, .button-raised {
    --devsite-button-disabled-background: rgba(241,243,244,0.38);
    --devsite-button-disabled-border: 0;
    background-color: #1a73e8;
    color: white;
}

.devsite-landing-row-item-image{
    display:flex;
    /* width: 50vw; */
    flex-grow: 1;
    flex-basis: 0;
}

devsite-header{
    display: flex;
    flex-direction: column;
    /* position: fixed;  */
    /* flex: 1; */
}
devsite-header .devsite-header-icon-button {
    color: var(--devsite-header-icon-color,var(--devsite-secondary-text-rgba));
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /* height: 24px; */
    min-width: 24px;
    padding: 8px;
    -webkit-transition: color .2s;
    transition: color .2s;
    /* width: 24px;*/
}

devsite-tabs{
    display: flex;
    flex: 1;
    height: 48px;
}
devsite-tabs .devsite-tabs-wrapper{
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    height: 48px;
}
devsite-tabs tab[dropdown]>a {
    padding-left: var(--devsite-dropdown-tab-padding-x,24px);
}

.devsite-search-form, 
.devsite-search-container{
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;
}
.gc-analytics-event{
    text-decoration: none;
    color: #5f6368;
}

.devsite-banner-announcement:not(.devsite-banner-tenant) {
    display: flex;
    background: #202124;
    color: white;
    font-weight: 500;
    width: 100vw;
    margin-left: -24px;
    text-align: center;
    line-height: 60px;
    /* justify-content: center; */
}
.devsite-banner-announcement a {
    color: white;
    font-weight: 700;
}                       
.devsite-banner-announcement a:link,
.devsite-banner-announcement a:visited {
    background: 0;
}                    
.devsite-banner-announcement a:hover,
.devsite-banner-announcement a:focus {
    text-decoration: none;
}
.devsite-banner-announcement .devsite-banner-message-text {
    margin: 0px;
    height: 60px;
    width: 100vw;
}
.devsite-landing-row-item-custom-image-icon{
    width: 64px;
}
/* .devsite-landing-row-item-custom-image-icon{
    font-size: 96px;
    max-height: 96px;
    width: 96px;
} */
.app-item, 
.devsite-landing-row-header,
.devsite-landing-row-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.devsite-landing-row-inner{
    height:500px;
}
.app-item{
    min-width:240px;
    min-height:96px;    
    justify-content: space-between;
}
.devsite-landing-row-group{
    width:90vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content:space-between;
    align-items:center;
    background-color: yellow;
}
/* =============================== */
devsite-header .devsite-top-logo-row{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}
devsite-search {
    border-radius: var(--devsite-search-border-radius,2px);
    display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 36px;
    margin: 6px 0 6px 24px;
    padding: 6px;
    overflow: hidden;
    position: relative;
    text-align: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    vertical-align: top;
    width: 300px;
    will-change: transition;
    z-index: 10;
}
devsite-search .devsite-search-form{
    border-radius: 10px;
}
devsite-search-button{
    border-radius: 10px;
}



/* ================================= 
    Media  Queries
==================================== */
/*頁面寬度若>=769px, 執行此段*/
@media(min-width: 769px){ 
    .devsite-landing-row-item{
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        align-items: center;
        /* flex: 1 1 500px; */
      /* height:290px; */
    } 
    .devsite-landing-row-item-media{
        display: flex;
        order: 1;
    }
    /* .container {
        width: 70%;
        margin: 0 auto;
      }  */
}

/* devsite-header .devsite-header-upper-tabs {
    margin-left: var(--devsite-upper-tab-margin-x,48px);
} */
/* devsite-header .devsite-header-upper-tabs {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -moz-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    margin: 0;
    opacity: 1;
    position: relative;
    z-index: 8;
} */

/* body[ready] .devsite-wrapper {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
} */

/* devsite-tabs {
    display: flex;
    flex-grow: 1;
    height: 48px;
    position: relative;
} */
/* devsite-tabs {
    --devsite-tabs-wrapper-x: 6px;
    --devsite-link-font: 500 14px/20px var(--devsite-headline-font-family);
    --devsite-link-padding: 0 18px;
    --devsite-link-text-transform: none;
    --devsite-dropdown-tab-padding-x: 18px;
    --devsite-dropdown-toggle-padding-x: 12px;
    --devsite-overflow-menu-border-radius: 4px;
    --devsite-overflow-menu-top: 44px;
    --devsite-overflow-tab-padding: 0 18px;
    --devsite-tab-marker-border-radius: 3px 3px 0 0;
    --devsite-tab-marker-height: 3px;
    --devsite-tab-marker-inset-x: 4px;
    --devsite-tab-marker-position-x: 22px;
    --devsite-upper-tab-font-weight: 500;
} */

/* devsite-header .devsite-top-logo-row-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
} */


/* devsite-header .devsite-top-logo-row,
devsite-header .devsite-top-logo-row-middle,
devsite-header .devsite-header-upper-tabs{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

} */


/* devsite-header .devsite-product-name-wrapper, devsite-header .devsite-site-logo-link, .devsite-top-logo-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
} */
/* .devsite-product-name-link, .devsite-site-logo-link {
    -ms-flex-align: center;
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
} */
/* .devsite-top-logo-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--devsite-header-color-upper,var(--devsite-background-1));
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    padding: 0 24px;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
} */

/* devsite-header cloudx-tabs-nav.upper-tabs .devsite-tabs-wrapper, 
devsite-header devsite-tabs.upper-tabs .devsite-tabs-wrapper {
    background: var(--devsite-header-color-upper,var(--devsite-background-1));
} */

/* devsite-tabs .devsite-tabs-wrapper {
    bottom: 0;
    display: flex;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
} */

/* devsite-tabs {
    --devsite-tabs-wrapper-x: 6px;
    --devsite-link-font: 500 14px/20px var(--devsite-headline-font-family);
    --devsite-link-padding: 0 18px;
    --devsite-link-text-transform: none;
    --devsite-dropdown-tab-padding-x: 18px;
    --devsite-dropdown-toggle-padding-x: 12px;
    --devsite-overflow-menu-border-radius: 4px;
    --devsite-overflow-menu-top: 44px;
    --devsite-overflow-tab-padding: 0 18px;
    --devsite-tab-marker-border-radius: 3px 3px 0 0;
    --devsite-tab-marker-height: 3px;
    --devsite-tab-marker-inset-x: 4px;
    --devsite-tab-marker-position-x: 22px;
    --devsite-upper-tab-font-weight: 500;
} */