/* ================================= 
  Base Element Styles
==================================== */
* {
	box-sizing: border-box;
}
html{
    padding: 0px;
    margin: 0px;
}
body, html {
    color: var(--devsite-primary-text-color);
    font: 400 16px/24px var(--devsite-primary-font-family);
    /* -webkit-font-smoothing: antialiased; */
    text-size-adjust: 100%;
    font-family: sans-serif;
    margin:0;
}

ul li{
    list-style-type:none;
}
/* ================================= 
  Base Layout Styles
==================================== */
/* ---- Layout Containers ---- */
/*頁面寬度若<769px, 執行此段*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    /* align-items:center; */
}
  
/* ---- Navigation ---- */
.button-flat, .button-flat:active, .button-flat:focus, .button-flat:hover {
    background: 0;
    border: 0;
    box-shadow: none;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    line-height: 1;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* color: blue; */
    /* font-size: 48px !important;*/ /* 改變icons大小要加"!important" */
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;  
    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*===============================
         the black block
================================*/
.devsite-banner-announcement:not(.devsite-banner-tenant) {
    background: #202124;
    color: white;
    font-weight: 500;    
}
.devsite-banner-announcement a {
    color: white;
    font-weight: 700;
}                       
.devsite-banner-announcement a:link,
.devsite-banner-announcement a:visited {
    background: 0;
}                    
.devsite-banner-announcement a:hover,
.devsite-banner-announcement a:focus {
    text-decoration: none;
}
.devsite-banner-announcement .devsite-banner-message-text {
    display:flex;
    /*這兩行才能讓內容上下置中*/
    height: 60px;
    line-height: 60px;
    /*=====================*/
    justify-content: center;
}
/*=========================*/
.devsite-site-logo {
    height: var(--devsite-logo-height,32px);
}

.hide-from-toc{
    font-size: 32px;
}

.hide-from-toc > a{
    text-decoration:none;
    color: #1a73e8;
}

.devsite-landing-row-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}
/* .devsite-landing-row-1-up .devsite-landing-row-item {
    display: grid;
    grid-gap: var(--devsite-item-gap);
    grid-template-columns: repeat(12,1fr);
} */

.devsite-landing-row-item-body{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.devsite-landing-row-item-media{
    display: flex;
    flex: 1;   
    /* text-align: left; */
    /* justify-content: space-between; */
}
.description-item{
    display:flex;
    flex-grow: 1;
    flex-basis: 0;
    margin: 10px;
}
.devsite-landing-row-item-buttons .button {
    margin: 34px 4px 4px 12px;
    padding: 0px 24px;
}
.button-blue, .button-blue:active, .button-blue:focus, .button-blue:hover, .button-green, .button-green:active, .button-green:focus, .button-green:hover, .button-primary, .button-primary:active, .button-primary:focus, .button-primary:hover, .button-red, .button-red:active, .button-red:focus, .button-red:hover, body devsite-footer-utility .devsite-footer-utility-button>a, body devsite-footer-utility .devsite-footer-utility-button>a:active, body devsite-footer-utility .devsite-footer-utility-button>a:focus, body devsite-footer-utility .devsite-footer-utility-button>a:hover {
    border: 0;
}
.button-blue, .button-green, .button-primary, .button-red, body devsite-footer-utility .devsite-footer-utility-button>a {
    background: var(--devsite-button-primary-background,var(--devsite-button-color));
    color: var(--devsite-button-primary-color,var(--devsite-inverted-text-color));
    line-height: var(--devsite-button-primary-line-height,36px);
}
.button, .devsite-footer-utility-button>a, button, input[type=button], input[type=file], input[type=image], input[type=reset], input[type=submit] {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: var(--devsite-button-background,var(--devsite-background-1));
    border: var(--devsite-button-border,0);
    border-radius: var(--devsite-button-border-radius,2px);
    box-shadow: var(--devsite-button-box-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--devsite-button-color);
    cursor: pointer;
    display: inline-block;
    font: var(--devsite-button-font,500 14px/36px var(--devsite-primary-font-family));
    line-height: var(--devsite-button-line-height,36px);
    height: var(--devsite-button-height,36px);
    letter-spacing: var(--devsite-button-letter-spacing,0);
    line-height: var(--devsite-button-line-height,36px);
    margin: 0;
    max-width: var(--devsite-button-max-width,none);
    min-width: 36px;
    outline: 0;
    overflow: hidden;
    padding: var(--devsite-button-padding,0 16px);
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: var(--devsite-button-text-transform,capitalize);
    -webkit-transition: background-color .2s,border .2s,box-shadow .2s;
    transition: background-color .2s,border .2s,box-shadow .2s;
    vertical-align: middle;
    white-space: nowrap;
    width: var(--devsite-button-width,auto); 
}
.button-primary, .button-raised {
    --devsite-button-disabled-background: rgba(241,243,244,0.38);
    --devsite-button-disabled-border: 0;
    background-color: #1a73e8;
    color: white;
}
/* 設定第一塊Section的邊界 */
.devsite-landing-row {
    padding: var(--devsite-landing-row-padding);
}
.devsite-landing-row {
    --devsite-landing-group-padding: 0 24px;
    --devsite-landing-row-padding: 40px 0;
}

.devsite-landing-row-item-image {
    display: flex;
    align-self: flex-end;
    margin: 40px auto;
    flex-grow: 1;
    flex-basis: 0;
}

devsite-header{
    display: flex;
    flex-direction: column;
}
devsite-header .devsite-header-icon-button {
    color: var(--devsite-header-icon-color,var(--devsite-secondary-text-rgba));
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 24px;
    padding: 8px;
    -webkit-transition: color .2s;
    transition: color .2s;
}

devsite-tabs{
    display: flex;
    flex: 1;
    height: 48px;
}
devsite-tabs .devsite-tabs-wrapper{
    display: flex;
    flex: 1 1 auto;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    height: 48px;
}
devsite-tabs tab[dropdown]>a {
    padding-left: var(--devsite-dropdown-tab-padding-x,24px);
}

.devsite-search-form, 
.devsite-search-container{
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;
}
.gc-analytics-event{
    color: #5f6368;
}


.devsite-landing-row-item-custom-image-icon{
    width: 64px;
}

.app-item, 
.devsite-landing-row-header,
.devsite-landing-row-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.devsite-landing-row-inner{
    padding: 0px 24px;
    height: 100%;
    width: 100%;
}
.app-item{   
    min-height: 30vh;/*沒有這行會失敗!*/
    justify-content: space-around;
}
.devsite-landing-row-group{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content:space-between;
    align-items:center;
    /* background-color: yellow; */
}
.app-icon{
    padding: 0px auto;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

}
.item-description{
    display:flex;
    align-items:center;
    justify-content:center;
    height: 100%;
    width: 100%;
    /* flex: 1 0 auto; */
}
/* =============================== */
devsite-header .devsite-top-logo-row{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
}
devsite-search {
    border-radius: var(--devsite-search-border-radius,2px);
    display: inline-block;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 36px;
    margin: 6px 0 6px 24px;
    padding: 6px;
    overflow: hidden;
    position: relative;
    text-align: left;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    vertical-align: top;
    width: 300px;
    will-change: transition;
    z-index: 10;
}
devsite-search .devsite-search-form{
    border-radius: 10px;
}
devsite-search-button{
    border-radius: 10px;
}

/* ================================= 
    picture collapse
==================================== */
/* test */
.event_block,
.community_block{
    display:flex;
    flex-direction: column;
    position: relative; /*設為相對定位(relative)*/
    text-align: center;
    border:1px solid lightgray;
    border-radius: 8px;
    margin: 15px;
    width:100%;
    height: 100%;
    min-height: 300px;
}

.event_block_item{
    position: absolute;     /*設為絕對定位(absolute)*/
    font-weight: bold;
    top: -40px;
    right : 5px;            /*右邊上面都設0，則出現在右上方*/
    color: white;
    display: block;
    /* background: red; */
    text-align: center;
}

.description_Event{
    display:flex;
    flex-direction: column;
	justify-content: space-between;
    flex: 1;
    align-items: flex-start;
    text-align: left;
    /* flex-wrap: wrap; */
    padding: 10px;
    margin: 10px;
    font-size: 17px;      
    flex-basis: 100px;
}

.description_Event > a{
    color:#1a73e8;
    text-decoration:none;
    font-size: 32px;
}

.button_community,
.button_Event{
    display:flex;
    align-items: center;
    background-color: white;
    text-align: center;
    flex-wrap: wrap;
    border:1px solid lightgray;
    border-radius: 3px;  
    box-shadow: none;
}

.button_community>a, .button_Event > a{
    text-align: center;   
    color: #1a73e8;
    text-decoration: none;
    font-size: 14px;
    padding: 0px 16px;
}

.event_and_community{
    display: flex; 
    flex: 1;
    padding-top: 40px;
    padding-bottom: 30px;
    height: 100%;    
}

/*==========================
        News part
===========================*/
.news{
    display: flex;
    font-size: 32px;
    font-weight: lighter;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #F5F5F5;
    margin: 0px auto;
    margin-bottom: -20px;
    min-height: 120px;
}
.news_title{
    font-size: 24px;
    text-decoration: none;
    color:#1a73e8;
    margin:0 0 24px;    
}

.news_title_description{
    padding-top: 20px;
    margin-bottom: 30px;
}
.news_block{
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    /* padding: 0 auto; */
    /* margin-top: 30px; */
    padding-left: 10px;
    padding-right: 10px;
}
.news_item{
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 15px;
    padding: 0px;
    flex: 1 1 auto;    
    /* min-height: 400px; */
    max-width: 21vw;
}
.news_item_picture{
    display: flex;
    flex: 1;
    size: 100px;
    /* justify-content: center;
    align-self: center;
    align-content: center; */
    padding:20px auto;
    margin: 20px auto 10px auto;
}

.News_item_button{
    display: flex;
    align-self: flex-start;
    align-items: flex-end;
    background-color: white;
    border: 0;
    border-radius: 5px;
    padding: 5px auto;
    margin-top: auto;
    margin-left: -15px;
    box-shadow: none;
}

.News_item_button:hover{
    background-color: #e8f0fe;
}

.News_item_button > a{
    font-weight: bold;    
    font-size: 14px;
    color:#1a73e8;
    text-decoration: none;
}

.news_item_description{
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    align-items: flex-start;
    align-content: flex-start;
    padding: 20px;
}
/* test */

/* .devsite-landing-row-inner {
    margin: 0 auto;
    max-width: var(--devsite-landing-row-max-width,1488px);
    padding: var(--devsite-landing-group-padding);
}
.devsite-landing-row:not([background]) {
    background-color: var(--devsite-background-1);
}
.devsite-landing-row {
    padding: var(--devsite-landing-row-padding);
}
.devsite-landing-row {
    --devsite-landing-group-padding: 0 24px;
    --devsite-landing-row-padding: 40px 0;
}

.devsite-landing-row-item-media {
    min-width: 0;
    padding: var(--devsite-item-media-padding,0);
}
*/

/* .dgc-programs .devsite-landing-row-item-image::before {
    background: center / contain no-repeat;
    content: '';
    display: block;
    height: 160px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 160px;
}
.dgc-programs--events .devsite-landing-row-item-image::before {
    background-image: url(https://developers.google.com/site-assets/images/home/events-graphic.png);
}  */

/* ================================= 
    Media  Queries
==================================== */
/*頁面寬度若>=769px, 執行此段*/
@media(min-width: 769px){ 
    .devsite-landing-row-item{
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* flex: 1 1 500px; */
      /* height:290px; */
    } 
    .devsite-landing-row-item-media{
        display: flex;
        order: 1;
    }
    /* .container {
        width: 70%;
        margin: 0 auto;
      }  */
}

/* devsite-header .devsite-header-upper-tabs {
    margin-left: var(--devsite-upper-tab-margin-x,48px);
} */
/* devsite-header .devsite-header-upper-tabs {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0;
    -moz-box-flex: 1;
    -ms-flex: 1 1 0px;
    flex: 1 1 0;
    margin: 0;
    opacity: 1;
    position: relative;
    z-index: 8;
} */

/* body[ready] .devsite-wrapper {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
} */

/* devsite-tabs {
    display: flex;
    flex-grow: 1;
    height: 48px;
    position: relative;
} */
/* devsite-tabs {
    --devsite-tabs-wrapper-x: 6px;
    --devsite-link-font: 500 14px/20px var(--devsite-headline-font-family);
    --devsite-link-padding: 0 18px;
    --devsite-link-text-transform: none;
    --devsite-dropdown-tab-padding-x: 18px;
    --devsite-dropdown-toggle-padding-x: 12px;
    --devsite-overflow-menu-border-radius: 4px;
    --devsite-overflow-menu-top: 44px;
    --devsite-overflow-tab-padding: 0 18px;
    --devsite-tab-marker-border-radius: 3px 3px 0 0;
    --devsite-tab-marker-height: 3px;
    --devsite-tab-marker-inset-x: 4px;
    --devsite-tab-marker-position-x: 22px;
    --devsite-upper-tab-font-weight: 500;
} */

/* devsite-header .devsite-top-logo-row-middle {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
    position: relative;
} */


/* devsite-header .devsite-top-logo-row,
devsite-header .devsite-top-logo-row-middle,
devsite-header .devsite-header-upper-tabs{
    display:flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;

} */


/* devsite-header .devsite-product-name-wrapper, devsite-header .devsite-site-logo-link, .devsite-top-logo-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
} */
/* .devsite-product-name-link, .devsite-site-logo-link {
    -ms-flex-align: center;
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s;
} */
/* .devsite-top-logo-row {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: var(--devsite-header-color-upper,var(--devsite-background-1));
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 48px;
    padding: 0 24px;
    position: relative;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
} */

/* devsite-header cloudx-tabs-nav.upper-tabs .devsite-tabs-wrapper, 
devsite-header devsite-tabs.upper-tabs .devsite-tabs-wrapper {
    background: var(--devsite-header-color-upper,var(--devsite-background-1));
} */

/* devsite-tabs .devsite-tabs-wrapper {
    bottom: 0;
    display: flex;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
} */

/* devsite-tabs {
    --devsite-tabs-wrapper-x: 6px;
    --devsite-link-font: 500 14px/20px var(--devsite-headline-font-family);
    --devsite-link-padding: 0 18px;
    --devsite-link-text-transform: none;
    --devsite-dropdown-tab-padding-x: 18px;
    --devsite-dropdown-toggle-padding-x: 12px;
    --devsite-overflow-menu-border-radius: 4px;
    --devsite-overflow-menu-top: 44px;
    --devsite-overflow-tab-padding: 0 18px;
    --devsite-tab-marker-border-radius: 3px 3px 0 0;
    --devsite-tab-marker-height: 3px;
    --devsite-tab-marker-inset-x: 4px;
    --devsite-tab-marker-position-x: 22px;
    --devsite-upper-tab-font-weight: 500;
} */